@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

* {
	padding: 0px;
	border: 0px;
	font-family: "Helvetica Neue";
	font-weight: lighter;
}

.img {
	float: left;

}
body {

	background-image: url("../img/copiacode1.jpeg");
	color: white;
}

section#formulario{

	width: 450px;
	min-height: 600px;
    background-color: rgba(255, 255, 255, 0.4); 

/*	background-color: black;
	opacity: 0.3; */
	overflow: hidden;
	border-radius: 5px;
	
	margin-left: 30%;
	margin-right: 30%;
	left: 50%;
	top: 50%;
	
}


p#titulo{
	font-size: 1.9em;
	text-align: center;
	margin-top: 50px;

}

input[type="text"], input[type="email"], input[type="password"]{
	width: 250px;
	margin-left: 40px;
	margin-right: 40px;
	height: 35px;
	margin-top: 10px;
	padding-left: 10px;
	font-size: 1.1em;
	outline: none;
	border: 0px;
	background-color: white;
	border-radius: 5px;
	-webkit-transition: width .5s;
	opacity: 1;
}

select#actual {
	width: 350px;
	margin-left: 40px;
	height: 30px;
	margin-top: 10px;
	padding-left: 10px;
	font-size: 1.1em;
	outline: none;
	border: 0px;
	background-color: white;
	border-radius: 5px;

}



a#enlace {
	margin-left: 50px;
	
	text-decoration: none;

	
	
	
	

	background: none;
	border: ;
	cursor: pointer;
	
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 22px;
	color: #414848;
	text-shadow: 0px 1px 0 rgba(256,256,256,0.5);
	
}

a#enlace:hover {
	color: #dfe9ec;
}

a#enlace:focus {
	position: relative;
	bottom: -1px;

} 

input[type="submit"]{
	margin: 45px;
	width: 230px;
	height: 40px;
	outline: none;
	border: 0px;
	background-color: #75b6dc; 
	color: white;
	font-size: 1.2em;
	border-radius: 5px;
	-webkit-box-shadow: 0px 5px 0px #659dbf;
	-moz-box-shadow: 0px 5px 0px #659dbf;
	-o-box-shadow: 0px 5px 0px #659dbf;
	-ms-box-shadow: 0px 5px 0px #659dbf;
}

/* Efecto Alargamiento */

input:focus{
	width: 350px;
	background-color: #dfe9ec;
}

input:hover{
	background-color: #dfe9ec; 
}


input#registrar:hover{
	background-color: #3f9db8;
}


.enl{
	float: right;
	margin-top: 10px;
	margin-right: 5px;
}


.botones {
	height: 100px;

}

p {
	font-family: "Helvetica Neue";
	font-size: 25pt;
	padding-left: 70px;
	color: white;
	opacity: 0.8;
}
















































