@charset "utf-8";

* {
	padding: 0px;
	border: 0px;
	font-family: "Helvetica Neue";
	font-weight: lighter;
}

body {
	background-image: url("../img/copiacode1.jpeg");	

}

/* Centrar texto h1 */
	.outer {
	    display: table;
	    position: absolute;
	    height: 100%;
	    width: 100%;
	}

	.middle {
	    display: table-cell;
	    vertical-align: middle;
	    text-align: center;
		font-size: 100px;
		color: #D7DF01;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;	}

	.inner {
	    margin-left: auto;
	    margin-right: auto; 
	
	}
 /* */

#pulsa{
 	font-size: 20px;
	color: white;
	
 }

 a{
 	text-decoration: none;
 	color: red;
 }